<div id="<%= dom_id language %>">
  <p>
    <strong>Title:</strong>
    <%= language.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= language.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= language.link %>
  </p>

</div>
